{% extends "layout.html" %}
{% block body %}
<p>It is similar to <a href="http://en.wikipedia.org/wiki/Eight_queens_puzzle" target="_blank">N-Queens problem</a>. Only point of difference is that it requires placing N<sup>2</sup> queens in an N<sup>3</sup> cube. And there can only be one queen in any row parallel to any axis, or in any diagonal.</p>
<p>More details are in this <a href="https://docs.google.com/presentation/d/1_-Dca33UCIOgs_y4CJc6d4_an6JYg4J_mD3x38xqyEw/edit?usp=sharing" target="_blank">assignment slides</a>.</p>
<p>Here is a list of the Best Ten! Your result can be included in this list.
Try to put your source code to test. If you want to see a full list, click this <a href="{{ url_for('show_full_entries') }}">link</a>.</p>
<br/>
<table id="t01">
    <tr>
        <th>Rank</th>
        <th>ID</th>
        <th>Elapsed Time</th>
    </tr>
    {% set count = 0 %}
    {% for entry in entries %}
    {% set count = count + 1 %}
    <tr>
        <td id="rank">{{ count }}</td>
        <td id="id">{{ entry.user_id }}</td>
        <td id="time">{{ entry.elapsed_time }} sec</td>
    </tr>
    {% else %}
    <tr>
        <td colspan=3>Unbelievable.  No entries here so far</td>
    </tr>
    {% endfor %}
</table>
<p><a href="{{ url_for('login') }}" id="button">Test your source code</a></p>
<br/>
<p>※ If this web page dosen't work, please let <a href="http://arcs.skku.edu/People/JungsikChoi" target="_blank">TA</a> know as soon as possible.</p>
{% endblock %}
