{% extends "layout.html" %}
{% block body %}
<!--
<p>It is similar to <a href="http://en.wikipedia.org/wiki/Eight_queens_puzzle">N-Queens problem</a>. Only point of difference is that it requires placing N<sup>2</sup> queens in an N<sup>3</sup> cube. And there can only be one queen in any row parallel to any axis, or in any diagonal. More details are in this assignment <a href="https://docs.google.com/presentation/d/1_-Dca33UCIOgs_y4CJc6d4_an6JYg4J_mD3x38xqyEw/edit?usp=sharing">slides</a>.</p>
<p>Here is a list of the Best Ten! Your result can be included in this list.
Try to put your source code to test.</p>
-->
<h1>현재 테스트 중 입니다. 잠시 후에 이용해주세요.</h1>
<h2>예상시간: 19-21시</h2>
<br/>
<table id="t01">
    <tr>
        <th>Rank</th>
        <th>ID</th>
        <th>Elapsed Time</th>
    </tr>
    {% set count = 0 %}
    {% for entry in entries %}
    {% set count = count + 1 %}
    <tr>
        <td id="rank">{{ count }}</td>
        <td id="id">{{ entry.user_id }}</td>
        <td id="time">{{ entry.elapsed_time }} sec</td>
    </tr>
    {% else %}
    <tr>
        <td colspan=3>Unbelievable.  No entries here so far</td>
    </tr>
    {% endfor %}
</table>
<p><a href="{{ url_for('login') }}" id="button">Test your source code</a></p>
<br/>
<p>※ If this web page dosen't work, please let <a href="http://arcs.skku.edu/People/JungsikChoi">TA</a> know as soon as possible.</p>
{% endblock %}
