{% extends "layout.html" %}
{% block body %}
<h2>{{ user_id }}!! Upload Your Source Code</h2>
<ul>
    <li>First, choose your source file and press the UPLOAD button. You can upload multiple files. The allowed files are only .c and .h types.</li>
    <li>Second, press the REGISTER button below and the checking and compiling your codes will be started.</li>
    <li>After the registration, you can confirm your score after a while.</li>
</ul>
<form action="" method=post enctype=multipart/form-data>
    <p><input type=file name=file>
    <input type=submit value=UPLOAD>
</form>
<br/>
{% if file_list %}
<div class="files">
<ul id="files">
    {% for file in file_list %}
    <li>{{ file }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
<br/>
<p><a href="{{ url_for('compile_source', user_id = user_id) }}" id="button">REGISTER</a></p>
{% endblock %}
